
<button id="key_esc">Esc</button>

<div class="keyboard">
  <div class="KeyboardRow">
      <span id="key_Q" class="KeyboardKey">Q</span>
      <span id="key_W" class="KeyboardKey">W</span>
      <span id="key_E" class="KeyboardKey">E</span>
      <span id="key_R" class="KeyboardKey">R</span>
      <span id="key_T" class="KeyboardKey">T</span>
      <span id="key_Z" class="KeyboardKey">Z</span>
      <span id="key_U" class="KeyboardKey">U</span>
      <span id="key_I" class="KeyboardKey">I</span>
      <span id="key_O" class="KeyboardKey">O</span>
      <span id="key_P" class="KeyboardKey">P</span>
  </div>
  <div class="KeyboardRow">
      <span id="key_A" class="KeyboardKey">A</span>
      <span id="key_S" class="KeyboardKey">S</span>
      <span id="key_D" class="KeyboardKey">D</span>
      <span id="key_F" class="KeyboardKey">F</span>
      <span id="key_G" class="KeyboardKey">G</span>
      <span id="key_H" class="KeyboardKey">H</span>
      <span id="key_J" class="KeyboardKey">J</span>
      <span id="key_K" class="KeyboardKey">K</span>
      <span id="key_L" class="KeyboardKey">L</span>
  </div>
  <div class="KeyboardRow">
      <span id="key_Y" class="KeyboardKey">Y</span>
      <span id="key_X" class="KeyboardKey">X</span>
      <span id="key_C" class="KeyboardKey">C</span>
      <span id="key_V" class="KeyboardKey">V</span>
      <span id="key_B" class="KeyboardKey">B</span>
      <span id="key_N" class="KeyboardKey">N</span>
      <span id="key_M" class="KeyboardKey">M</span>
  </div>
</div>