canvas {
  width: 800px;
  height: 600px;
}

.dosbox-container {
  float: left;
}

#my-content {
  position: absolute;
  height: 600px;
  margin-left: 800px;
  padding-left: 20px;
  background-color: black;
  color: white;
}

